#  Exercice 1: Load and Process data

## Q1 : Load the CSV file using the csv import in python

In [1]:
import pandas as pd
import numpy as np
csv_file_data = pd.read_csv("tp_sentiment_analysis/sanders-twitter-sentiment.csv")
csv_file_data.head()

,1044,125667332931596290,2011-10-16 20:20:01,"&quot;3 principal global players will be active in every market...@Amazon, @Apple, &amp; @Kobo.&quot; #fbf11 #publaunch @MikeShatzkin http://t.co/1ndxcMO1",neutral,apple
0,71,126384526925639681,2011-10-18 19:49:53,"If you've been struggling to get hold of me, I...",neutral,apple
1,278,126281019476291585,2011-10-18 12:58:35,"@azee1v1 @apple @umber Proper consolidation, p...",negative,apple
2,5743,126862268725080065,2011-10-20 03:28:16,me acabo de dar cuenta q tengo mas seguidores ...,irrelevant,twitter
3,510,126054725727698944,2011-10-17 21:59:23,"With Siri, Apple Could Eventually Build A Real...",neutral,apple
4,2609,126493101807239168,2011-10-19 03:01:20,All this talk about about how good #icecreamsa...,positive,google

## Q2 : Produce a python list of pre-processed tweets using the script preprocess_twitter.py

In [2]:
from tp_sentiment_analysis import preprocess_twitter

# We apply the function preprocess(text) to the 4rth column of the csv_file_data
pre_processed_tweets_series = csv_file_data.iloc[:, 3].apply(preprocess_twitter.preprocess)
# We transform the result into a list
pre_processed_tweets_list = pre_processed_tweets_series.tolist()

In [3]:
# Let us display the first 3 elements of that lists
pre_processed_tweets_list[:3]

["if you've been struggling to get hold of me, i'm back online with a new iphone - thanks <user>",
 '<user> <user> <user> proper consolidation, proper syncing, stop losing my purchased items, checkboxes that do what you think they will do.',
 'me acabo de dar cuenta q tengo mas seguidores en <hashtag>  twitter <smile> gracias y espero q sigan sumandoo mas y mas <smile> para seguir aun mas activo aki']

# Exercice 2 : Vectorize data

In [4]:
pd.options.display.max_columns = 32

## Q1 : Use Tokenizer from keras to process data and labels

In [5]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

# processing data
texts = pre_processed_tweets_list
tokenizer = Tokenizer(num_words=10000)
tokenizer.fit_on_texts(texts)
sequences = tokenizer.texts_to_sequences(texts)
data = pad_sequences(sequences, maxlen=32)
vocab = tokenizer.word_index
vocab['<eos>'] = 0

In [7]:
# pd.options.display.max_columns = 62

In [15]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,100,1551,165,5230,10,62,621,24,34,96,108,334,36,11,37,38,128,2
1,0,0,0,0,0,0,0,0,0,0,0,2,2,2,3165,5231,3165,1552,379,2317,22,2318,1338,5232,50,70,90,23,220,135,103,70
2,0,0,0,34,1339,20,1553,750,115,380,231,1340,40,1,7,42,662,56,2319,115,3166,5233,231,56,231,42,105,1208,3167,231,2320,1341
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,36,80,54,261,5234,986,11,274,622,3,2,1,54,1,80
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,74,53,476,101,101,84,112,1,232,267,19,450,34,2321,1,5,1,5235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5507,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,2,8,2870,405,597,69,1355,280,2979,19,2244,1027,90,677,70,23,146
5508,0,0,0,0,0,0,0,0,0,0,104,18,11,981,2935,195,16,10,8,2,85,10,338,144,162,17,5207,144,4,10,4,355
5509,0,0,0,0,0,0,0,0,37,45,31,192,566,1695,16,43,39,44,419,24,14,1,31,1,41,1,5,1,14,404,604,773
5510,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13,2,4549,447,1,7,9,406,4550,362,4551
5511,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13,2,666,463,4378,20,4379,4380,510,89,2881,2246,3,1,6,1,432,126

In [9]:
# data

In [10]:
# pd.DataFrame(pad_sequences(sequences, maxlen=32))

In [11]:
# pd.DataFrame(sequences)

In [12]:
# processing labels 
# the label are the 5th column of the data 
texts_label = csv_file_data.iloc[:, 4]
tokenizer_label = Tokenizer(num_words=6)
tokenizer_label.fit_on_texts(texts_label)
sequences_label = tokenizer_label.texts_to_sequences(texts_label)
labels = pad_sequences(sequences_label, maxlen=4)
vocab_labels = tokenizer_label.word_index
vocab_labels['<eos>'] = 0

In [13]:
# from keras.preprocessing.text import one_hot

In [14]:
vocab_labels.keys()

dict_keys(['neutral', 'irrelevant', 'negative', 'positive', '<eos>'])

In [ ]:
# encoded_docs = [one_hot(d, 7) for d in vocab_labels.keys()]
# encoded_docs

In [ ]:
pd.DataFrame(labels)

## Q2: Cut this corpus in two parts one for the training and one for the evaluation 
>- (x_train and y_train ) should contains 4000 utterances
>- (x_val, y_val) should have the rest of the data
>- Feel free to shuffle data

In [ ]:
pd.concat([pd.DataFrame(data) , pd.DataFrame(labels)], axis = 1)

In [ ]:
from sklearn.utils import shuffle

data, labels = shuffle(data, labels)

x_train, y_train = data[:4000], labels[:4000]
x_val, y_val = data[4000:], labels[4000:]

In [ ]:
x_train.shape, y_train.shape

In [ ]:
x_val.shape, y_val.shape

# II. Train and evaluate the model

In [ ]:
from tp_sentiment_analysis import embedding

weights = embedding.load(vocab, 100, 'tp_sentiment_analysis/glove.twitter.27B.100d.filtered.txt')
pd.DataFrame(weights)

In [ ]:
vocab.keys()

In [ ]:
y_train[0]

In [ ]:
from keras.layers import Embedding, Input, GRU, Dense
from keras.models import Model
import tensorflow as tf
# 100-dim embeddings initialized with GloVe,
# over sequences of size 32, and not fine tuneable
embedding_layer = Embedding(len(vocab), 100, weights=[weights],input_length=32, trainable=False)
sequence_input = Input(shape=(32,), dtype='int32')
embedded_sequences = embedding_layer(sequence_input)
x = GRU(64)(embedded_sequences)
preds = Dense(labels.shape[1], activation='softmax')(x)
model = Model(sequence_input, preds)
model.compile(loss='categorical_crossentropy',optimizer='Nadam',\
              metrics=[tf.keras.metrics.Precision(),\
                       tf.keras.metrics.Recall() ,\
                       'acc',\
                       tf.keras.metrics.Accuracy()])
print(model.summary())
model.fit(x_train, y_train, validation_data=(x_val, y_val),epochs=2, batch_size=64, shuffle=True)

In [ ]:
y_pred = model.predict(x_train)
y_predic_df = pd.DataFrame(y_pred)[3]

In [ ]:
y_predic_df.value_counts()

In [ ]:
pd.concat([pd.DataFrame(model.predict(x_train)), pd.DataFrame(y_train)], axis=1)

In [ ]:
print(embedding_layer)

In [ ]:
model.metrics_names

In [ ]:
tf.keras.metrics.Accuracy

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
loss, precision, recall,  acc, f1_measure = model.evaluate(x_val, y_val, batch_size=64)

print("Test loss :", f1_measure)
print("Test accuracy:", acc)
print("Test precision:", precision)
print("Test recall:", recall)

In [ ]:
from keras.layers import Conv1D, MaxPooling1D, Flatten

sequence_input = Input(shape=(32,), dtype='int32')
embedded_sequences = embedding_layer(sequence_input)
x = Conv1D(128, 3, activation='relu')(embedded_sequences)
x = MaxPooling1D(3)(x) # global max pooling
x = Flatten()(x)
preds = Dense(labels.shape[1], activation='softmax')(x)

model = Model(sequence_input, preds)
model.compile(loss='categorical_crossentropy',optimizer='Nadam', metrics=['acc'])
model.fit(x_train, y_train, validation_data=(x_val, y_val),epochs=10, batch_size=64, shuffle=True)